*#
*~
*.so
*/build/
*.pyc
*.dvi
*.aux
*.bbl
*.blg
*.lof
*.log
*.cfg
thesis.pdf
thesis.toc
thesis.lot
thesis/uwthesis.pdf
shear_KL/paper/shear_KL.pdf
Lens3D/writeup/Lens3D.pdf
COSMOS/paper/COSMOS_KL.pdf